:root {
    --primaryColor: #99d4d6;
    --hov:#99d4d64c;
    --secondaryColor: #daa3b2;
    --secondaryColor2:#daa3b299;
    --lightColor : #ffffff;
    --bgColor-1 : #171a1c;
    --bgColor-2 : #22282a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* scroll-behavior: smooth; */



/* .parent{
    position: absolute;
    }
    .childe{
        position: relative;
        left: 5px;
        } */
        
        
        
        body{
            display: grid;
            gap: 0;
            width: 100vw;
            max-width: 100vw;
        }
        html {
            width: 100vh;
            max-width: 100vh;
        }
        
        nav{
            position: sticky;
            top: 0;
            display: flex;
            background-color: var(--primaryColor);
            height: 8vh;
            width: 100%;
            max-width: 100vw;
            justify-content: space-around;
        }
        h1{
            align-self: center;
            color: var(--lightColor);
            font-size: 6vh;
        }
        
        nav >ul{
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            gap: 0.5vw;
            align-items: center;
        }
        nav >ul > li > a{
            text-decoration: none;
            color: var(--lightColor);
            padding: 1vw;
            border-radius: 2vw;
        }
        nav >ul > li > a:hover{
            background-color: var(--secondaryColor);
        }
.section1{
    display: flex;
    background-image: url(../img/Jeep-car.png);
    height: 87vh;
    background-size: cover;
    background-position: center;
    align-items: end;
    justify-content: space-around;
    width: 100%;
    max-width: 100vw;
}


.section1-title {
    color: var(--lightColor);
    font-size: 8vh;
    width: 36vw;
    padding-bottom: 11vh;
    text-transform: capitalize;
}
.section2-title{
    font-size: 5vh;
    margin-bottom: 5.5vh;
}
.fa-arrow-left {
    font-size: 5vh;
    color: var(--lightColor);
    border: 2px solid var(--lightColor);
    border-radius: 50%;
    padding: 1.5vh;
    transition: .6s;
    cursor: pointer;
    margin-right: .5vw;
}
.fa-arrow-left:hover{
    background-color: var(--hov);
}
.submit{
    font-size: 5vh;
    color: var(--lightColor);
    border: 2px solid var(--lightColor);
    border-radius: 50%;
    padding: 1.5vh;
    transition: .6s;
    cursor: pointer;
}
.submit:hover{
    background-color: var(--hov);
}
.arrow {
    padding-bottom: 11vh;
}

.section2{
    text-align: center;
    padding:6vh 10vw;  
    width: 100%;
    max-width: 100vw;  
}
.description {
    font-family: cursive;
}
hr {
    width: 15vw;
    height: 0.3vh;
    background-color: black;
    margin: 1vw 0 1vw 33.6vw;
}
.btn {
    width: 13vw;
    height: 7vh;
    font-size: 1.5vw;
    border-radius: 2vw;
    border: 3px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
    transition: 0.6s;
    cursor: pointer;
    margin-top: 4vh;
}
.btn:hover {
    background-color: var(--secondaryColor2);
    
}

.section3 {
    display: grid;
    padding: 6vh 10vw;
    grid-template-areas: 
    "Dabi Dabi1 Dabi2"
    "Dabi3 Dabi3 Dabi3"
    "Dabi4 Dabi5 Dabi6";
    grid-template-columns: repeat(3, 1fr);
    gap: 8.5vh;
    width: 100%;
    max-width: 100vw;
}
.section3>.Dabi {
    grid-area: Dabi;
    background-image: url(../img/Dabi.jpg);
}
.section3>.Dabi1 {
    grid-area: Dabi1;
    background-image: url(../img/Dabi.jpg);
}
.section3>.Dabi2 {
    grid-area: Dabi2;
    background-image: url(../img/Dabi.jpg);
}
.section3>.Dabi3 {
    grid-area: Dabi3;
    width: 80vw;
    height: 86vh;
}
.section3>.Dabi4 {
        grid-area: Dabi4;
        background-image: url(../img/Dabi.jpg);
    }
    .section3>.Dabi5 {
        grid-area: Dabi5;
        background-image: url(../img/Dabi.jpg);
    }
    .section3>.Dabi6 {
        grid-area: Dabi6;
        background-image: url(../img/Dabi.jpg);
    }
    .item {
        display: flex;
        width: 24vw;
        height: 52vh;
        background-repeat: no-repeat;
        background-size:24vw 52vh; 
        align-items: end;
        color: var(--lightColor);
    }
    .item > span {
        margin: 1vh;
    }
    table {
        width: 45vw;
        height: 45vh;
        margin: 6vh 17vw;
        border-spacing: 0;
        font-family: cursive;
        
    }
    td:first-child:nth-child(1) {
        background-color: var(--bgColor-1);
        color: var(--lightColor);
    }
    
    tr:nth-child(even) td:nth-child(2) {
        background-color: var(--secondaryColor2);
        color: var(--bgColor-2);
    }
    
    tr:nth-child(odd) td:nth-child(2) {
        background-color: var(--lightColor);
        color: var(--bgColor-1);
    }
    td{
        padding: 10px;
        text-align: left;
    }
    .section4 {
        background-color: var(--primaryColor);
        width: 100%;
        height: 80vh;
        text-align: center;
        padding-top: 12vh;
        max-width: 100vw;
    }
    input{
        width: 15vw;
        height: 5vh;
        margin-right: 1vw;
        border: none;
        padding-left: 10px;
    }
    textarea{
        width: 64vw;
        margin-left: -1vw;
        height: 15vh;
        margin-top: 1vh;
        padding-left: 10px;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 12vh;
        padding: 6vh 10vw;
        color: var(--lightColor);
        background-color: var(--bgColor-1);
        width: 100%;
        max-width: 100vw;
        
    }
    footer>div>ul {
        list-style: none;
        display: flex;
        gap: 1vw;
    }
    footer>div {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    /* * {
        padding: 0;
        }
        */